.content-wrapper{
	min-height: 100%;
	background-color: #ecf0f5;
    z-index: 800;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
}

.content-wrapper.smallcont{
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 50px;
}

@media (max-width: 767px){
	#body .content-wrapper{
	    margin-left: 0 ;
	}	
}

.short{
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 50px !important;
}

.long{
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px !important;
}

/*
 *
 *	请注意，以下位置有菜鸡出没
 *
 */

.content-header{
	position: relative;
	padding: 15px 15px 0 15px;
}

.content-header>h1{
	font-size: 24px;
}

.content-header>h1>small{
	font-size: 15px;
	display: inline-block;
	padding-left: 8px;
	font-weight: 300;
}

.content{
	padding: 15px;
	margin-right: -15px;
	margin-left: -15px;
}

.box{
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
}