* {
	padding: 0;
	margin: 0;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.content {
	width: 100%;
}

.content .title {
	text-align: center;
	display: block;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 3em;
	width: 450px;
	overflow: hidden;
	margin: 110px auto 50px;
}

#resetPas_form {
	display: block;
	width: 350px;
	margin: 50px auto;
}

.form_item {
	width: 100%;
	height: 46px;
	position: relative;
}

#resetPas_form input {
	width: 100%;
	height: 46px;
	border-radius: 2px;
	outline: none;
	padding-left: 10px;
	padding-top: 5px;
	box-sizing: border-box;
	border: 1px solid gainsboro;
	transition: all .5s ease;
	font-size: 26px;
	line-height: 26px;
}

#resetPas_form input::-webkit-input-placeholder {
	color: gainsboro;
	font-size: 20px;
}

#login_form input::-ms-input-placeholder {
	color: gainsboro;
}

#login_form input::-moz-input-placeholder {
	color: gainsboro;
}

#login_form input:focus {
	border: 1px solid #111;
}

#resetPas_Accout .icon {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 26px;
	width: 26px;
	color: gainsboro;
	cursor: pointer;
	display: none;
}

#resetPas_Accout .icon:hover {
	color: deepskyblue;
}

#reset_btn {
	position: relative;
	margin-top:30px;
}
#reset_btn input{
	background-color: #3DA8F5;
	text-align: center;
	line-height: 39px;
	cursor: pointer;
	border-color:#3DA8F5;
	outline: none;
}
.mousHhover span{
	margin-left:-20px!important;
}

#reset_btn span{
	cursor: pointer;
	position:absolute;
	color:#FFF;	
	font-size:1.3em;
	top:8px;
	left:50%;
	transform: translateX(-50%);
	transition: all .3s ease-out;
}

#reset_btn :active{
	box-shadow:0px 2px 3px #2E8DED inset;
	border-color:#3DA8F5;
	outline: none;
}
.mousHhover #rightArrowBtn{
	margin-left:-20px!important;
	visibility: initial
}
#rightArrowBtn{
	position: absolute;
	cursor: pointer;
	top:11px;
	left:calc(50% + 45px);
	width:25px;
	height:25px;
	transition: all .3s ease-out;
	visibility: hidden;
}
#tips{
	height:30px;
	position: relative;
}
#tips .forgotPas{
	position: absolute;
	right:0;
	top:0;
	line-height: 30px;
	color:gainsboro;
	cursor: pointer;
}
#signUp{
	margin-top:100px;
	text-align: center;
}
#signUp span{
	color:gainsboro;
}
#signUp span a{
	color:#3DA8F5;
	text-decoration: none
}
#error{
	display: none;
}
.inputErrorTips{
	color:red;
}
@media screen and (max-width: 450px) {
	#resetPas_form {
		display: block;
		width: 100%;
		min-width:30px;
		margin:0!important;
	}
	#resetPas_form input{
		width: calc(100% - 30px);
		margin:0 15px 0 15px;
		min-width: 30px;
	}
	.content .title{
		width:100%;
		margin-top:70px;
	}
	
}